{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block body_block %}
<div id="featured-wrapper">
	<div id="featured" class="container">

<h1>{% trans "Sign In" %}</h1>
<hr>
{% get_providers as socialaccount_providers %}


<h3>No Account? Click <a href="/accounts/signup">here.</a></h3>
<br>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
      <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form><br>

<!--
    {% if socialaccount_providers %}
    <h3> Optionally sign in with your Google or Github account</h3>
<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.}</p>
{% endif %}
-->

  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">"Forgot Password?" </a>

      </div>
  </div>

{% endblock %}
