{% extends "debtors/base.html" %}

{% block body_block %}
<div id="page" class="container">
<h1>Personal Profile:</h1><br>
<h2>{{ debtor.debtor_name }}</h2>
{% if debtor.crime_set.all %}
<h3>Criminal Records:</h3>
<ul>
    {% for crime in debtor.crime_set.all %}
    <li>Cause Number: <a href="{% url 'debtors:crime' crime.id %}">{{ crime.causeNumber}}</a></li>
    {% endfor %}
</ul>
<h3>Known Addresses:</h3>
<ul>
    {% for crime in debtor.crime_set.all %}
    <li>{{crime.address}}, {{crime.city}}, {{crime.state}} {{crime.zip}}</li>
    {% endfor %}
</ul>
{% endif %}
{% if debtor.debt_set.all %}
<h3>Debts</h3>
<ul>
    {% for debt in debtor.debt_set.all %}
    <li>{{debt.company}} {{debt.debt_amount}} </li>
    {% endfor %}
</ul>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if debtor.comment_set.all %}
<ul>
    <h3>Comments:</h3>
    {% for comment in debtor.comment_set.all %}
    <li>"{{ comment.comment_text }}" -made by {{ comment.user }} on {{ comment.comment_date }}</li>
    {% endfor %}
</ul>
{% endif %}
</dev>
{% endblock %}