{% extends 'debtors/base.html' %}

{% block body_block %}

<h1>{{ debtor.debtor_name }}</h1>
<ul>
    <li>{{ debtor.debtor_address }}</li>
   <li> {{ debtor.debtor_city }}, {{ debtor.debtor_state}} {{ debtor.debtor_zip }}</li>
    <li> {{ debtor.debtor_phone }}</li>
    <li> DOB: {{ debtor.debtor_dob }} </li>
    <li> Added by: {{ debtor.debtor_added_by }}</li>

</ul>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if debtor.debt_set %}
<ul>
{% for debt in debtor.debt_set.all %}
    <li>{{ debt.debtor.debtor_name }} owes {{ debt.company.company_name }} ${{ debt.debt_amount }} from an invoice dated {{ debt.debt_date }}</li>
{% endfor %}
</ul>
{% endif %}

{% if debtor.comment_set.all %}
<ul>
    <h2>Comments:</h2>
    {% for comment in debtor.comment_set.all %}
    <li>"{{ comment.comment_text }}" -made by {{ comment.user }} on {{ comment.comment_date }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}